names=SOL_ATALK,SOL_AX25,SOL_IP,SOL_IPX,SOL_SOCKET,SOL_TCP,SOL_UDP
visibility=public
kind=defined

--- SOL_ATALK
--- SOL_AX25
--- SOL_IP
--- SOL_IPX
--- SOL_SOCKET
--- SOL_TCP
--- SOL_UDP
@todo

