names=path
visibility=public
kind=defined

--- path
@todo

UNIX ソケットのパスを返します。

例:

  UNIXServer.open("/tmp/s") {|serv|
    p serv.path     #=> "/tmp/s"
  }

